// http://ionicframework.com/docs/theming/


// App Global Sass


@import url('https://fonts.googleapis.com/css?family=Barlow|Ropa+Sans');

body {
font-family: 'Barlow', sans-serif;
}
h1, h2, h3, h4 {
  color: color($colors, primary);
}

ion-header {
  display: inline-block;
}
span.headtext {
  font-size: 300%;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  color: color($colors, secondary);
}
h1,h2 {
  font-family: 'Ropa Sans', sans-serif;
}
h1 {
  font-size: 220%
}
h2 {
  font-size: 180%
}
h3 {
  font-size: 150%
}
h4 {
  font-size: 125%
}
h3,h4,p, label{
  font-family: 'Barlow', sans-serif;  
}
.noborder {
  border: 0px;
}